:root {
  --branding-color: #ffdc7f;
  --secondary-color: #e26a6b;
  --off-white: #fffdfb;
  --tertiary-color: #1a5183;
  --text-color: #303030;
}

.navbar {
  padding: 20px 10px;
}

nav h1 {
  font-family: "Cormorant Upright", serif;
  font-size: 28px;
  margin: 0;
}

nav a,
.nav-link,
.nav-link-active,
.nav-link:hover {
  color: var(--off-white);
  font-family: "Cormorant Upright", serif;
  font-size: 22px;
  margin: 0;
  padding: 0 8px;
  text-decoration: none;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.4);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, .8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.hero {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(/images/Pic1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  max-width: 100%;
}

.hero h2 {
  color: var(--branding-color);
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
  font-size: 75px;
  padding: 100px 200px;
}

section.classes {
  background-color: var(--tertiary-color);
  color: var(--off-white);
  font-family: "Noto Serif Yezidi", serif;
  padding: 50px;
}

section.classes h3 {
  font-size: 40px;
  margin: 0;
}

section.classes p {
  font-size: 20px;
  padding: 15px 20px 0 0;
}

section .btn-branding {
  background-color: var(--off-white);
  border-color: var(--off-white);
  color: var(--tertiary-color);
  font-size: 20px;
  margin: 20px 20px;
  padding: 8px 20px;
  transition: all 200ms ease-in-out;
}

section .btn-branding:hover {
  border-color: var(--off-white);
}

section.testimonials {
  background-color: var(--branding-color);
  color: var(--text-color);
  font-family: "Noto Serif Yezidi", serif;
  padding: 50px;
}

section.testimonials h3 {
  font-size: 40px;
  margin: 0;
}

section .testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

section .testimonials-card {
  background-color: var(--off-white);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 40px;
}

section .testimonials-card img {
  border-radius: 50%;
  width: 40%;
}

section h4 {
  font-size: 18px;
  font-weight: bold;
}

section h5 {
  font-size: 16px;
  opacity: 0.6;
}

section .fa-paw {
  color: #f3c443;
  font-size: 18px;
  padding: 0 4px;
}

section h6 {
  font-size: 16px;
  font-weight: bold;
}

section.testimonials p {
  font-size: 16px;
}
