:root {
  --background-color: #303030;
  --branding-color: #ffdc7f;
  --secondary-color: #e26a6b;
  --tertiary-color: #1a5183;
}

.navbar {
  padding: 20px 10px;
}

nav h1 {
  font-family: "Cormorant Upright", serif;
  font-size: 28px;
  margin: 0;
}

nav a,
.nav-link,
.nav-link-active,
.nav-link:hover {
  color: white;
  font-family: "Cormorant Upright", serif;
  font-size: 20px;
  margin: 0;
  padding: 0 8px;
  text-decoration: none;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.4);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, .8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.hero {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(/images/Pic1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  max-width: 100%;
}

.hero h2 {
  color: var(--branding-color);
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
  font-size: 75px;
  padding: 100px 200px;
}

section {
  background-color: var(--tertiary-color);
  color: white;
  font-family: "Noto Serif Yezidi", serif;
  padding: 50px;
}

section h3 {
  font-size: 28px;
  margin: 0;
}

section p {
  font-size: 16px;
  padding: 15px 20px 0 0;
}

section .btn-branding {
  background-color: white;
  border-color: white;
  color: var(--tertiary-color);
  margin: 20px 20px;
  transition: all 200ms ease-in-out;
}

section .btn-branding:hover {
  border-color: white;
}
