:root {
  --branding-color: #ffdc7f;
  --off-black: #303030;
  --off-white: #fffdfb;
  --primary-color: #e26a6b;
  --secondary-color: #e4a08f;
}

* {
  scroll-behavior: auto !important;
}

body {
  font-family: "Noto Serif Yezidi", serif;
}

.navbar {
  padding: 20px 10px;
}

nav h1 {
  color: var(--off-white);
  font-size: 28px;
  margin: 0;
}

nav a,
.nav-link {
  color: lightgray;
  font-family: "Cormorant Upright", serif;
  font-size: 22px;
  padding: 0 8px;
  text-decoration: none;
}

.nav-link-active,
.nav-link:hover {
  color: var(--off-white);
}

.shopping-cart {
  cursor: pointer;
  font-size: 18px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  height: 30px;
  width: 30px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.menu-icon-list {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='rgba(255, 255, 255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' id='menu-icon-8'%3E%3Cpath d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.menu-icon-exit {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255, 255, 255, 0.8)' class='bi bi-x-lg' viewBox='0 0 16 16' id='menu-icon-7'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z'/%3E%3C/svg%3E");
}

section {
  min-height: 100vh;
  padding: 80px;
}

section .content {
  margin: 0 auto;
  max-width: 1600px;
}

section.cart {
  background-color: rgba(8, 8, 8, 0.7);
  color: var(--off-black);
  cursor: pointer;
  display: none;
  opacity: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  transition: opacity 500ms ease-in-out;
  z-index: 5000;
}

section.cart .cart-area {
  background-color: var(--off-white);
  cursor: auto;
  min-height: 100vh;
  transform: translateX(30px);
  transition: transform 500ms ease-in-out;
  width: 500px;
}

section.cart .cart-header {
  background-color: #f8e3e3;
  height: 73.594px;
}

section.cart #exit-cart {
  cursor: pointer;
}

section.cart h3 {
  font-size: 36px;
  margin: 0;
}

section.cart .cart-content {
  height: calc(100vh - 353px);
  margin: 20px 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

section.cart .empty-cart {
  height: 100%;
}

section.cart .empty-cart-message {
  font-size: 20px;
}

section.cart .btn-empty-cart {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 100px;
  color: var(--off-white);
  font-size: 20px;
  margin-top: 30px;
  padding: 15px 30px;
  transition: all 200ms ease-in-out;
}

section.cart .btn-empty-cart:hover {
  background-color: var(--off-white);
  color: var(--primary-color);
}

section.cart .cart-item {
  border-bottom: 1px solid #e4e9ec;
  transition: opacity 150ms ease-in-out;
}

section.cart .cart-item:last-child {
  border-bottom: none;
}

section.cart h5 {
  font-size: 20px;
  text-transform: uppercase;
}

section.cart .unit-cost {
  display: none;
}

section.cart .item-price {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

section.cart .item-quantity {
  width: 50px;
}

section.cart .trash-can {
  cursor: pointer;
  font-size: 18px;
  opacity: 0.8;
}

section.cart .cart-footer {
  padding: 50px;
}

section.cart .total-cost-area {
  border-bottom: 1px solid #e4e9ec;
  border-top: 1px solid #e4e9ec;
}

section.cart h6 {
  font-size: 22px;
  margin: 0;
}

section.cart .total-cost {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
}

section.cart .btn-checkout {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 100px;
  color: var(--off-white);
  font-size: 20px;
  margin-top: 30px;
  padding: 15px 0;
  transition: all 200ms ease-in-out;
  width: 100%;
}

section.cart .btn-checkout:hover {
  background-color: var(--off-white);
  color: var(--primary-color);
}

section.hero {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(/images/pic_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

section.hero h2 {
  color: var(--branding-color);
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
  font-size: 75px;
}

section h3 {
  font-family: "Cormorant Upright", serif;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

section h4 {
  margin-bottom: 0;
}

section.about-us {
  background-color: var(--branding-color);
  color: var(--off-black);
}

section.about-us p {
  font-size: 20px;
  text-align: justify;
}

section.about-us .btn-branding {
  background-color: var(--off-black);
  border-color: var(--off-black);
  color: var(--branding-color);
  font-size: 20px;
  margin: 20px;
  padding: 8px 20px;
  transition: all 200ms ease-in-out;
}

section.about-us .btn-branding:hover {
  background-color: var(--branding-color);
  color: var(--off-black);
}

section.about-us .img-container {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

section.classes {
  background-color: var(--secondary-color);
  color: var(--off-white);
}

section.classes .grid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  padding: 10px 0 50px;
}

section.classes .class-card {
  background-color: var(--off-white);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
}

section.classes img {
  transition: all 300ms ease-in-out;
  width: 100%;
}

section.classes img:hover {
  transform: scale(1.1);
}

section.classes h4 {
  color: var(--secondary-color);
  font-size: 24px;
  text-transform: uppercase;
}

section.classes h5 {
  color: var(--off-black);
  font-size: 18px;
  opacity: 0.7;
}

section.classes .btn-class {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: var(--off-white);
  font-size: 18px;
  margin: 20px 20px 5px;
  padding: 8px 20px;
  transition: all 200ms ease-in-out;
  opacity: 0.9;
}

section.classes .btn-class:hover {
  background-color: var(--off-white);
  box-shadow: none;
  color: var(--primary-color);
}

section.testimonials {
  background-color: var(--primary-color);
  color: var(--off-white);
}

section.testimonials .carousel-inner {
  padding: 50px 250px 100px;
}

section.testimonials .testimonials-card {
  background-color: var(--off-white);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: var(--off-black);
  margin: 0 auto;
  max-width: 750px;
  padding: 40px;
}

section.testimonials .fa-quote {
  color: lightgray;
  font-size: 72px;
  opacity: 0.6;
}

section.testimonials .fa-quote-right {
  float: right;
}

section.testimonials img {
  border-radius: 50%;
  width: 40%;
}

section.testimonials h5 {
  font-size: 22px;
}

section.testimonials h6 {
  font-size: 16px;
  opacity: 0.6;
}

section.testimonials .fa-paw {
  color: #f3c443;
  font-size: 18px;
  padding: 0 4px;
}

section.testimonials .fa-paw:first-child {
  padding-left: 0;
}

section.testimonials .fa-paw-unchecked {
  color: lightgray;
}

section.testimonials p {
  font-size: 16px;
}

footer {
  background-color: var(--off-black);
  color: lightgray;
  font-family: "Cormorant Upright", serif;
  font-size: 22px;
  padding: 55px;
}

footer a {
  color: lightgray;
  text-decoration: none;
}

footer a:hover {
  color: var(--off-white);
}

.class-page nav {
  background-color: var(--off-black);
}

.class-page section.class-info {
  background-color: var(--off-white);
  color: var(--off-black);
  min-height: calc(100vh - 191px);
}

.class-page img.main-img {
  display: block;
  margin: 10px auto;
}

.class-page img.thumbnail {
  border: 2px solid var(--off-white);
  cursor: pointer;
  margin: 0 5px;
  width: 50px;
}

.class-page img.thumbnail.active {
  border: 2px solid var(--primary-color);
}

.class-page h4 {
  font-family: "Cormorant Upright", serif;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.class-page div.class-price {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
}

.class-page span.current-price {
  opacity: 0.6;
}

.class-page span.old-price {
  color: lightgray;
  margin-left: 20px;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.class-page div.class-discount {
  color: var(--primary-color);
  font-size: 18px;
}

.class-page div.class-description {
  text-align: justify;
}

.class-page div.dropdown-name-area {
  cursor: pointer;
}

.class-page div.dropdown.class-specifications {
  border-bottom: 1px solid #e4e9ec;
  border-top: 1px solid #e4e9ec;
}

.class-page div.dropdown.cancellation-policy {
  border-bottom: 1px solid #e4e9ec;
}

.class-page a.dropdown-name {
  color: var(--off-black);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.class-page div.dropdown-text {
  background-color: #f8e3e3;
  border: none;
  opacity: 0.8;
}

.class-page .btn-participants-count {
  align-content: center;
  border-color: lightgray;
  color: var(--off-black);
  cursor: auto;
  font-size: 18px;
  height: 45px;
  margin: 20px;
  padding: 7px 20px;
}

.class-page .btn-participants-count:active {
  border-color: lightgray;
}

.class-page .participants-quantity {
  background-color: var(--off-white);
  border: none;
  width: 50px;
}

.class-page .btn-add-to-cart {
  align-content: center;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--off-white);
  font-size: 18px;
  height: 45px;
  margin: 20px;
  padding: 8px 60px;
  transition: all 200ms ease-in-out;
}

.class-page .btn-add-to-cart:hover {
  background-color: var(--off-white);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

@media (max-width: 1650px) {
  section.classes .class-card {
    padding: 25px;
  }

  section.classes h4 {
    font-size: 22px;
  }
}

@media (max-width: 1500px) {
  section.classes .grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1050px;
  }

  section.classes .class-card {
    padding: 30px;
  }

  section.classes h4 {
    font-size: 24px;
  }

  section.classes .btn-class {
    margin: 15px 20px 5px;
  }
}

@media (max-width: 1200px) {
  section.testimonials .carousel-inner {
    padding: 50px 200px 100px;
  }

  .class-page .class-image {
    margin: 50px auto;
    max-width: 700px;
  }

  .class-page h4,
  .class-price,
  .class-discount {
    text-align: center;
  }
}

@media (max-width: 992px) {
  section {
    padding: 50px;
  }

  section.about-us,
  section.testimonials {
    min-height: fit-content;
  }

  section.classes .grid {
    grid-gap: 30px;
  }

  section.classes .class-card {
    padding: 25px;
  }

  section.classes h4 {
    font-size: 22px;
  }

  section.testimonials .carousel-inner {
    padding: 50px 150px 100px;
  }
}

@media (max-width: 850px) {
  section.hero h2 {
    font-size: 65px;
  }

  section h3 {
    font-size: 50px;
  }

  section.about-us p {
    font-size: 18px;
  }

  section.about-us .btn-branding {
    font-size: 18px;
  }

  section.classes h4 {
    font-size: 20px;
  }

  section.classes h5 {
    font-size: 16px;
  }

  section.classes .btn-class {
    font-size: 16px;
    margin: 10px 10px 5px;
  }

  section.testimonials .carousel-inner {
    padding: 50px 100px 100px;
  }

  section.testimonials .testimonials-card {
    padding: 35px;
  }

  section.testimonials .fa-quote {
    font-size: 65px;
  }

  footer {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  nav h1 {
    font-size: 24px;
  }

  nav a,
  .nav-link {
    font-size: 20px;
  }

  .shopping-cart {
    font-size: 16px;
  }

  .navbar-toggler-icon {
    height: 24px;
    width: 24px;
  }

  section {
    padding: 50px 40px;
  }

  section.hero h2 {
    font-size: 55px;
  }

  section h3 {
    font-size: 45px;
  }

  section.about-us p {
    font-size: 16px;
  }

  section.about-us .btn-branding {
    font-size: 16px;
  }

  section.classes .grid {
    grid-gap: 25px;
  }

  section.classes .class-card {
    padding: 20px;
  }

  section.classes h4 {
    font-size: 18px;
  }

  section.classes h5 {
    font-size: 15px;
  }

  section.classes .btn-class {
    font-size: 15px;
    margin: 10px 10px 5px;
  }

  section.testimonials {
    padding: 50px 20px;
  }

  section.testimonials .testimonials-card {
    padding: 30px;
  }

  section.testimonials .fa-quote {
    font-size: 60px;
  }

  section.testimonials .fa-paw {
    font-size: 16px;
  }

  section.testimonials h5 {
    font-size: 18px;
  }

  .class-page h4 {
    font-size: 36px;
  }

  .class-page div.class-price {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  section.classes .class-card {
    padding: 15px;
  }

  section.classes h4 {
    font-size: 16px;
  }

  section.classes h5 {
    font-size: 14px;
  }

  section.classes .btn-class {
    font-size: 14px;
  }

  .class-page h4 {
    font-size: 32px;
  }

  .class-page div.class-discount {
    font-size: 16px;
  }

  .class-page .btn-participants-count {
    font-size: 16px;
  }

  .class-page .btn-add-to-cart {
    font-size: 16px;
    padding: 8px 50px;
  }
}

@media (max-width: 576px) {
  section.cart h3 {
    font-size: 32px;
  }

  section.cart h5 {
    font-size: 18px;
  }

  section.cart .item-price {
    font-size: 18px;
  }

  section.cart .item-quantity {
    width: 40px;
  }

  section.cart .trash-can {
    font-size: 16px;
  }

  section.cart h6 {
    font-size: 20px;
  }

  section.cart .total-cost {
    font-size: 20px;
  }

  section.cart .btn-checkout {
    font-size: 18px;
  }

  section.cart .empty-cart-message {
    font-size: 18px;
  }

  section.cart .btn-empty-cart {
    font-size: 18px;
  }

  section {
    padding: 50px 30px;
  }

  section.hero h2 {
    font-size: 45px;
  }

  section h3 {
    font-size: 40px;
  }

  section.classes .grid {
    grid-gap: 20px;
  }

  section.classes h4 {
    font-size: 15px;
  }

  section.classes h5 {
    font-size: 13px;
  }

  section.classes .btn-class {
    font-size: 13px;
  }

  section.testimonials {
    padding: 50px 10px;
  }

  section.testimonials .carousel-inner {
    padding: 40px 70px 100px;
  }

  section.testimonials .testimonials-card {
    padding: 25px;
  }

  section.testimonials .fa-quote {
    font-size: 55px;
  }

  section.testimonials h5 {
    font-size: 16px;
  }

  section.testimonials p {
    font-size: 14px;
  }

  footer {
    font-size: 18px;
  }

  .class-page h4 {
    font-size: 30px;
  }

  .class-page div.class-price {
    font-size: 18px;
  }

  .class-page div.class-discount {
    font-size: 15px;
  }

  .class-page .btn-participants-count {
    font-size: 15px;
    margin: 15px;
    padding: 7px 15px;
  }

  .class-page .participants-quantity {
    width: 40px;
  }

  .class-page .btn-add-to-cart {
    font-size: 15px;
    margin: 15px;
    padding: 8px 40px;
  }
}

@media (max-width: 500px) {
  section.cart .cart-area {
    width: 100vw;
  }

  section {
    padding: 50px 20px;
  }

  section.classes .grid {
    grid-gap: 10px;
  }

  section.classes .class-card {
    padding: 10px;
  }

  section.classes img:hover {
    transform: scale(1.05);
  }

  section.classes h4 {
    font-size: 14px;
  }

  section.classes h5 {
    font-size: 13px;
  }

  section.classes .btn-class {
    font-size: 13px;
  }

  section.testimonials {
    padding: 50px 0;
  }

  .class-page .btn-participants-count {
    height: 40px;
    margin: 10px;
  }

  .class-page .participants-quantity {
    width: 30px;
  }

  .class-page .btn-add-to-cart {
    height: 40px;
    margin: 10px;
    padding: 8px 30px;
  }
}

@media (max-width: 420px) {
  section.cart h3 {
    font-size: 30px;
  }

  section.cart h5 {
    font-size: 16px;
  }

  section.cart .item-price {
    font-size: 16px;
  }

  section.cart .quantity {
    font-size: 14px;
  }

  section.cart h6 {
    font-size: 18px;
  }

  section.cart .total-cost {
    font-size: 18px;
  }

  section.cart .btn-checkout {
    font-size: 16px;
  }

  section {
    padding: 50px 15px;
  }

  section.about-us .btn-branding {
    margin: 10px;
    padding: 8px 10px;
  }

  section.classes .grid {
    grid-gap: 8px;
  }

  section.classes .class-card {
    padding: 8px;
  }

  section.classes h4 {
    font-size: 13px;
  }

  section.classes h5 {
    font-size: 12px;
  }

  section.classes .btn-class {
    font-size: 12px;
  }

  section.testimonials .carousel-inner {
    padding: 30px 60px 100px;
  }

  section.testimonials .fa-quote {
    font-size: 50px;
  }

  section.testimonials h6 {
    font-size: 14px;
  }

  section.testimonials .fa-paw {
    font-size: 14px;
  }

  footer {
    font-size: 16px;
  }

  .class-page h4 {
    font-size: 28px;
  }

  .class-page div.class-description {
    font-size: 15px;
  }

  .class-page div.dropdown-text {
    font-size: 15px;
  }

  .class-page .btn-participants-count {
    margin: 8px;
  }

  .class-page .btn-add-to-cart {
    margin: 8px;
  }
}

@media (max-width: 380px) {
  section.classes h4 {
    font-size: 12px;
  }

  section.classes h5 {
    font-size: 11px;
  }

  section.classes .btn-class {
    font-size: 11px;
  }

  section.testimonials .carousel-inner {
    padding: 30px 50px 100px;
  }

  .class-page div.class-discount {
    font-size: 14px;
  }

  .class-page .btn-participants-count {
    font-size: 14px;
    padding: 7px 12px;
  }

  .class-page .participants-quantity {
    width: 25px;
  }

  .class-page .btn-add-to-cart {
    font-size: 14px;
    padding: 8px 25px;
  }
}
